.dashBoard {
  text-align: center;
  .dash_board_g {
    .ke {
      line,
      text {
        stroke: #fff;
      }
    }
    .pointer {
      stroke: #e00;
      fill: #a00;
    }
    .tip {
      rect {
        fill: #eee;
        stroke: #ccc;
      }
      text {
        font-size: 60px;
        text-anchor: middle;
        fill: #a00;
      }
    }
  }
}
