* {
  padding: 0px;
  margin: 0px;
  color: #fff;
}
.hello {
  background: #f43;
  font-size: 24px;
}
a,
a:visited,
a:focus {
  text-decoration: none;
}
.container {
  min-height: 100vh;
  display: flex;
}
#Content {
  background: #000c17;
  padding: 8px;
}
